.form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 0 5%;

  .textarea {
    grid-column: 1/4;
  }

  @media (max-width: 850px) {
    grid-template-columns: 1fr 1fr;
    .textarea {
      grid-column: 1/3;
    }
  }
  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    .textarea {
      grid-column: 1/2;
    }
  }
}

.input {
  width: 100%;
  padding: 6px 10px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  transition: 0.2s;
  outline: 3px solid rgba(255, 0, 0, 0);

  &:hover,
  &:focus {
    border-color: red;
  }

  &:focus {
    outline-color: rgba(255, 0, 0, 0.05);
  }
}
