.container{
    padding: calc(5% + 10px);
    &>div{
        display: flex;
        gap: 10px;
        padding-top: 20px;
    }
}

   .actions{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: var(--blue-color);
    flex-wrap: wrap;
    gap: 30px;
  }