.hero {
  display: flex;
  padding-left: 5%;
  align-items: center;
  gap: 5vw;
  .text {
    padding-left: calc(45vw - 720px);
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    padding-block: 10vh;
    p {
      color: rgba(33, 37, 41, 0.69);
      font-family: Open Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      max-width: 400px;
    }
  }
  .image {
    width: 55%;
    align-self: stretch;
    position: relative;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      clip-path: polygon(100% 0, 100% 100%, 20% 100%, 0 40%, 15% 0);
    }
    &::before {
      content: "";
      top: 0;
      left: 0;
      background: rgba(246, 127, 81, 0.3);
      height: 100%;
      width: 100%;
      z-index: 1;
      position: absolute;
      clip-path: polygon(15% 0, 22% 0, 7% 40%, 27% 100%, 20% 100%, 0 40%);
    }
  } 
  form {
    display: flex;
    border-radius: 5px;
    border: 1px solid #f1f2f4;
    background: #fff;
    height: 50px;
    padding: 0 20px;
    gap: 20px;
    align-items: center; min-width: 70%;
    svg {
      font-size: 20px;
    }
    button {
      border: none;
      border-radius: 0;
      background-color: transparent;
      color: var(--red-color);
    }

    input {width: 100%;

      outline: none;
      border: none;
    }
  }

  @media (max-width: 740px) {
    flex-direction: column;
    padding-left: unset;
    .text {
      padding: 50px 5% 0;
      width: 100%;
    }
    .image {
      width: 100%;
      height: 50vh;
    }
    .image img {
    //   clip-path: polygon(0% 0, 100% 0%, 100% 80%, 40% 100%, 0 85%);
    clip-path: polygon(40% 0, 100% 20%, 100% 100%, 0 100%, 0 15%);  
}
    .image::before {
        // clip-path: polygon(0% 75%, 40% 90%, 100% 70%, 100% 80%, 40% 100%, 0 85%);
        clip-path: polygon(40% 0, 100% 20%, 100% 30%, 40% 10%, 0 25%, 0 15%);
    }
  }
}
