.company {
  display: flex;

  height: calc(100vh - 140px);

  @media (max-width: 600px) {
    flex-direction: column-reverse;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
 
     & > div:first-child {
      order: 1;
    }
  }
}
