.vacancy-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
   gap: calc(10px + 1vw  );
  margin: 100px 0;

  @media (max-width: 1140px) {
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: 670px) {
    grid-template-columns: 1fr;
  }
}
.vacancy-card {
  padding: 30px;
  background-color: white;
  box-shadow: 0 0 2px var(--light-grey-color);
  border-radius: 5px;
  &:hover h2 {
    color: var(--red-color);
  }
  h2 {
    color: #18191c;
    font-size: 17px;
    font-weight: 500;
    line-height: 160%;
  }
  .candidates-count{
    color: #ff6c4a;
    font-weight: 500;
    margin: 10px 0 15px;
  }
  p {
    color: var(--grey-color);
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: flex-start;
  }
  .info {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 8px 0 20px;
    flex-wrap: wrap;
    font-family: "Open Sans";

    p:last-child {
      width: 100%;
      color: rgb(90, 90, 90);
    }
  
  }
  p svg {
    min-width: 20px;
    margin-top: 5px;
  }
  .status {
    background-color: var(--light-green-color);
    color: var(--green-color);
    padding: 4px 20px;
    border-radius: 5px;
    letter-spacing: 0.5px;
    &.red {
      background-color: var(--light-red-color);
      color: var(--red-color);
    }
  }
  .company {
    display: flex;
    gap: 20px;
    font-family: "Open Sans";

    img {
      aspect-ratio: 1/1;
      max-width: 100px;
      width: 30%;
      object-fit: contain;
      mix-blend-mode: darken;
    }
    h3 {
      color: #18191c;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 10px;
    }
    & > svg {
      margin-left: auto;
      align-self: flex-end;
      min-width: 20px;
    }
  }
  .company-info {
    align-self: center;
  }
}

@media (max-width: 350px) {
  .vacancy-list .company {
    gap: 5px;
  }
  .vacancy-card {
    padding: 15px;
  }
}
