.input {
  color: var(--grey-color);
  padding: 7px;
  outline: none;
  border: 1px solid var(--light-grey-color);
  border-radius: 6px;

  &:focus {
    color: black;
  }
  &::placeholder {
    color: var(--light-grey-color);
  }
}
