.button {
  background-color: var(--red-color);
  border-radius: 6px;
  padding: 7px 10px;
  border: none;
  color: white;
  font-size: 16px;
  border: 1px solid;
  &.outline {
    color: var(--red-color);
    background-color: transparent;
    border-color: var(--red-color);
  }
  &.grey {
    color: var(--dark-grey-color);
    background-color: rgba(0, 0, 0, 0.1);
    border-color: rgba(0, 0, 0, 0.1);
    &.outline {
      background-color: transparent;
      border-color: var(--dark-grey-color);
    }
  }
  &.pink {
    color: var(--red-color);
    background-color: var(--light-red-color);
    border-color: var(--light-red-color);
    &.outline {
        color: var(--red-color);
        background-color: transparent;
        border-color: var(--light-red-color);
      }
  }

  svg {
    vertical-align: middle;
  }
}
