.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0 0;
  a {
    margin-left: auto;
    display: inline-block;
  }
}

.top {
  display: flex;
  gap: 5%;
  align-items: center;
  img {
    width: 30%;
    max-width: 160px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
  }
  div {
    width: 60%;
  }

  p {
    color: #767f8c;
    font-family: "Roboto";
    font-size: 16px;
    line-height: 150%; /* 150% */
    margin: 12px 0;
  }
  h2 {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 150%; /* 150% */
  }

  @media (max-width: 1000px) {
    p {
      margin: 7px 0;
      font-size: 14px;
    }

    h2 {
      font-size: 14px;
    }
  }
  @media (max-width: 400px) {
    p {
      font-size: 12px;
    }

    h2 {
      font-size: 12px;
    }
  }
}
