.form {
  display: flex;
  align-items: center;
  background-color: white;
  padding: 13px;
  border-radius: 8px;
  gap: 10px;
  border: 1px solid #e4e5e8;
  input {
    width: 80%;
    align-self: stretch;
    border: none;
    outline: none;
    font-size: 20px;
    color: var(--dark-grey-color);
    &::placeholder {
      font-size: 15px;
    }
  }
  button {
    min-width: 130px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    p {
      width: 100%;
    }
  }

  .searchBtn {
    svg {
      display: none;
    }
  }
  @media (max-width: 550px) {
    & > svg {
      display: none;
    }
    button {
      min-width: 50px;
    }
    button p {
      display: none;
    }
    .searchBtn {
      svg {
        display: block;
      }
    }
  }
}
.filters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 30px 0;
  gap: calc(10px + 2vw);

  p {
    color: var(--dark-grey-color);
    margin-bottom: 5px;
    letter-spacing: 0.3px;
    font-size: 15px;
  }

  @media (max-width: 900px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 700px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 450px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
