.container {
  display: flex;
  align-items: center;
  flex-direction: column;

  img {
    width: 80%;
    margin-bottom: 30px;
    max-width: 350px;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    & > input {
      width: 100%;
    }
  }
  .top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    
  }
  p{    padding: 2px 0 10px;
    font-size: 16px;      color: var(--dark-grey-color);

    a{
        color: var(--blue-color);
    }
}
  .socials {
    display: flex;
    gap: 10px;
    button {
      width: 50%;
    }
  }

  @media (max-width: 500px) {
    .checkbox {
      font-size: 12px;
    }
    .socials {
      flex-direction: column;
      button {
        width: 100%;
      }
    }
  }
}
