.wrapper {
  background: url("../../assets/images/adm.png");
  background-position: center center;
  background-size: cover;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .children {
    background-color: rgb(255, 255, 255);
    width: 80%;
    border-radius: 13px;
    & > div {
      padding: 50px 40px;
      @media (max-width: 600px) {
        padding: 40px 20px;
      }
    }
  }
  &>a{
    position: absolute;
    top: 0;
    left: 0;
 font-size: 25px;
color: white;
display: flex;
align-items: center;
justify-content: center;
aspect-ratio: 1/1;
width: 50px;
backdrop-filter: blur(10px);
svg{
    text-shadow: -1px 1px 0 #000,
    1px 1px 0 #000,
   1px -1px 0 #000,
  -1px -1px 0 #000;

}
  }
}
