.required {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: var(--red-color);
  font-size: clamp(10px, 2vw, 15px);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 5px;
  z-index: 10;
}
.navbar {
  position: fixed;
   left: 0;
  width: 100%;
  height: 70px;
  background-color: rgb(255, 255, 255);
  padding: 12px 5%;
  z-index: 10;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.08);

  & > div {
    gap: 40px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .image {
    max-width: 200px;
    width: 30vw;
    img {
      padding-right: 35px;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  .desktop.active,
  .desktop:hover {
    color: var(--red-color);
  }
  .left {
    display: flex;
    align-items: center;
    gap: 35px;
    @media (max-width: 1000px) {
      gap: 20px;
    }
  }
  .right {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  .menuBtn {
    display: none;
  }
}
.menu {
  position: fixed;
  z-index: 11;
  top: 0;
  right: 0;
  width: 80%;
  max-width: 300px;
  height: 100vh;
  padding: 20px 5%;
  display: none;
  flex-direction: column;
  background-color: white;
  translate: 100%;
  transition: 0.5s;

  * {
    outline: none;
  }
  &.active {
    translate: 0;
    &::before {
      opacity: 1;
      translate: 0;
    }
  }
  .xBtn {
    font-size: 30px;
    align-self: flex-end;
    margin-bottom: 20px;
  }
  & > a {
    padding: 12px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    p {
      transition: 0.5s;
    }
    &:hover p {
      translate: 0 -2px;
      color: var(--red-color);
    }
  }
  &::before {
    content: "";
    translate: -100vw;
    transition: opacity 0.5s linear;
    opacity: 0;
    position: absolute;
    padding: 200px;
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.2) 80%,
      rgba(0, 0, 0, 0.2) 100%
    );
    right: 100%;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
  .buttons {
    margin-top: 20px;
  }
}

@media (max-width: 1100px) {
  .desktop {
    display: none;
  }
  .menuBtn {
    display: block !important;
  }
  .menu {
    display: flex;
  }
  .navbar > div {
    gap: 12px;
    img {
      padding-right: unset !important;
    }
  }
}
