.container {
  display: flex;
  align-items: center;
  flex-direction: column;
   
  img {
    width: 80%;
    margin-bottom: 30px;
  }
  p,a {
    color: #646464;
    font-size: 13px;
    line-height: 160%;
    padding-bottom: 20px;
    align-self: flex-start;
  }
  a{
    color: var(--blue-color);
    align-self: flex-end;
    padding : 30px 0 0;
    cursor: pointer;
  }
  span {
    display: flex;
    width: 100%;
    gap: 5px;
    input {
      width: 60%;
    }
    button {
      width: 40%;
    }
  }
}
