.info {
  padding: calc(20px + 4%) 5% calc(40px + 8%);
  & > div > h1 {
    padding-bottom: 10px;
  }
  h2 {
    font-size: 20px;
    color: #373737;
    font-family: "Montserrat";
    line-height: 160%;
    margin-bottom: 10px;
  }
  .details {
    gap: 5%;
    row-gap: 30px;
    display: flex;
    justify-content: space-between;
    padding: calc(20px + 3%) 0;
    margin-bottom: calc(20px + 3%);
    border-bottom: 1px solid var(--light-grey-color);
    svg {
      min-width: 20px;
    }
  }
  .column {
    width: 50%;
    &:first-child {
      max-width: 300px;
    }
    button {
      width: 100%;
    }
  }

  .pay {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
    h3 {
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    p {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
    }
    span {
      color: #373737;
      font-size: 13px;
      font-weight: 600;
      background-color: rgba(0, 0, 0, 0.1);
      padding: 3px 10px;
      border-radius: 5px;
    }
  }

  .company {
    display: flex;
    gap: 10%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    justify-content: center;
    max-width: 430px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.349);
    img {
      aspect-ratio: 1/1;
      width: 100px;
      object-fit: contain;
      mix-blend-mode: darken;
    }
    h2 {
      margin-bottom: unset;
    }
    p {
      color: var(--grey-color);
    }
  }
  .description {
    color: #000;
    font-size: 16px;
    line-height: 160%;
    li {
      margin-left: 20px;
    }
  }
  @media (max-width: 800px) {
    .details {
      flex-direction: column;
      .column {
        width: 100%;
      }
    }
  }
}
.share-buttons {
  display: flex;
  padding-top: 10px;
  button {
    border: 1px solid !important;
    padding: 5px 0 2px !important;

    svg {
      font-size: 20px;
    }
  }
  button:first-child ~ button {
    color: white !important;
  }
}

.candidates-count {
  // padding: 20px 10px;
  color: #ff6c4a;
}