.bar {
  position: sticky;
  top: 70px;
   height: calc(100vh - 70px);
  display: flex;

  flex-direction: column;
  // clip-path: polygon(0 0, 115px 0, 115px 100%, 0% 100%);
  // width: 115px;
  background-color: white;
  min-width: 50px;
  width: 50px;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  
  p {
    opacity: 0;
    transition:opacity 300ms;
  }
  &.open {
    min-width: 230px;
    width: 230px;
    p {
      opacity: 1;
    }
  }

  a {
    padding: 13px 15px;
    color: var(--dark-grey-color);
    font-size: 13px;
    font-family: "Montserrat";
    font-weight: 600;
    border-right: 1px solid rgba(0, 0, 0, 0);
    min-width: 230px;
    display: flex;
    align-items: center;
    gap: 8px;
    svg {
      font-size: 17px;
    }
    &:hover,
    &.active {
      background-color: var(--light-red-color);
      border-right: 1px solid var(--red-color);
      color: var(--red-color);    transition: 0.3s;

    }
  }
  
} 
