.container {
  padding: calc(20px + 4%) 5% calc(40px + 8%);
  & > div {
    row-gap: 30px;
    gap: calc(10px + 5vw);
    display: grid;
    grid-template-columns: 2fr 5fr;
    @media (max-width: 800px) {
      grid-template-columns: 2fr 3fr;
      .links {
        grid-column: 1/4;
        grid-row: 2/3;
      }
      .description {
        grid-row: 3/4;
        grid-column: 1/4;
      }
    }
    @media (max-width: 450px) {
      .links {
        grid-row: 3/4;
      }
      .info {
        grid-row: 2/3;
      }
      .description {
        grid-row: 4/5;
      }
      img {
        grid-column: 1/5;
        max-height: 200px;
        object-fit: contain;
      }
    }
  }

  img {
    align-self: center;
    width: 100%;
    aspect-ratio: 5/3;
object-fit: contain;
   }

  .info {
    align-self: center;
    p {
      margin-top: 15px;
      color: #767f8c;
      font-size: 14px;
      font-family: "Montserrat";
      display: flex;
      gap: 5px;
      align-items: center;
    }
  }

  .links a {
    color: #787878;
    font-size: 12px;
    font-family: "Roboto";
    line-height: 160%;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
  }

  svg {
    font-size: 20px;
  }

  .description {
    color: #000;
    font-size: 16px;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
  }
}
