.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7px;
  .card {
    padding: 15px 5%;
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 3%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    transition: 0.3s;
a{
  min-width: 10%;
}
    &:hover {
      border: 1px solid var(--red-color);
      color: var(--red-color);
    }
  }

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
  @media (max-width: 600px) {
    .card {
      font-size: 20px;
    }
  }
}
