.title {
  color: #282b31;
  font-weight: 600;
  line-height: 130%;
  span {
    color: var(--red-color);
  }
  &.small {
    font-size: 28px;
  }
  &.middle {
    font-size: 40px;
  }
  &.big {
    font-size: 48px;
  }
  @media (max-width: 1000px) {
    &.big {
      font-size: 40px;
    } &.middle {
      font-size: 32px;
    }

    &.small {
      font-size: 22px;
    }
  }
  @media (max-width: 400px) {
    &.small {
      font-size: 14px;
    }
    &.big {
      font-size: 30px;
    }&.middle {
      font-size: 28px;
    }
  }
}
