.container {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px 5%;
  position: relative;
  outline: none;
  h1 {
    margin: -40px 0 30px;
    z-index: 1;
    color: rgba(0, 0, 0, 0.8);
    font-size: 24px;
    font-weight: 500;
    span {
      padding: 0 20px;
      background-color: rgb(250, 250, 250);
    }
  }
  .body.double {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
  }
  .field {
    color: #7c7c7c;
    font-size: 14px;
    line-height: 150%; /* 171.429% */
    gap: 10px;
    display: flex;
    margin-bottom: 10px;
    max-width: 100%;
    overflow: hidden;
    span {
      color: #000;
      font-size: 15px;
    }
  }

  @media (max-width: 800px) {
    h1 {
      font-size: 20px;
      margin-top: -30px;
    } 
  }
  @media (max-width: 700px) {
    .body.double {
      grid-template-columns: 1fr;
      
    }
  }
  @media (max-width: 500px) {
    h1 {
      font-size: 17px;
    }
   .field span {
        font-size: 12px;
      }
  }
  @media (max-width: 400px) {
    h1 {
      font-size: 17px;
    }
    .field {
      font-size: 14px;
      margin-bottom: 5px;
      span {
        font-size: 14px;
      }
    }
  }
}
