.container {
  padding: 100px 5%;
  overflow: hidden;
}

.cards {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   gap: 3%;
  padding-top: 50px;
}

.card {
    margin: 0 5%;
   padding: 40px 35px;
  border-radius: 12px;
  border: 1px solid #edeff5;
  background: #fff;
  img {
    aspect-ratio: 1/1;
    max-width: 100px;
    width: 30%;
    object-fit: contain;
  }
  .top {
    display: flex;
    gap: 10%;
    align-items: center;
    gap: 10%;
    padding-bottom: 20px;
  }
  h1 {
    color: #191f33;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 10px;
  }
  p {
    color: #9199a3;
    font-size: 14px;
    line-height: 150%;
  }
}
