.container {
  padding: 0 5%;
  
  .cards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin: 50px 0 130px;



    @media (max-width:1050px) {
        grid-template-columns: repeat(2, 1fr);
        
    }
    @media (max-width:700px) {
        grid-template-columns: 1fr;
        
    }
  }
}
