.footer {
  padding: 50px 5%;
  background: linear-gradient(45deg, #fff6f3 0%, #fff 100%);

  & > div {
    display: flex;
    justify-content: flex-end;
    gap: 10%;
    row-gap: 40px;
    @media (max-width: 600px) {
        flex-wrap: wrap;
        justify-content: space-between      ;
        .logo{
            width: 100%;
        }
    }  @media (max-width: 310px) {
        justify-content: center;

    }
  }
  .logo {
    mix-blend-mode: darken;
    margin-right: auto;
    text-align: center;
    img {
        max-width: 150px;
      width: 100%;
    }
  }
  .row {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .icons {
    display: flex;
    gap: 10px;
  }
  h1 {
    color: var(--red-color);
    font-size: 20px;
    font-family: "Montserrat";
    font-weight: 600;
  }
  a {
    color: var(--dark-grey-color);
    font-size: 14px;
    font-family: "Open Sans";
  }
}
