@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  // outline: 1px solid rgba(255, 0, 0, 0.3);
}

a {
  text-decoration: none;
}
:root {
  --green-color: #0ba02c;
  --light-green-color: #e7f6ea;
  --red-color: #fb3f00;
  --light-red-color: #fff1ed;
  --light-grey-color: #c7c7c7;
  --grey-color: #a4a4a4;
  --dark-grey-color: #666;
  --blue-color: #0d6efd;
  --footer-gradient: linear-gradient(
    45deg,
    #fff6f3 0%,
    rgba(255, 246, 243, 0) 100%
  );
}

body {
  font-family: "Roboto";
  background-color: rgb(250, 250, 250);
  overflow-x: hidden;
 }

button {
  cursor: pointer;
}

.roboto {
  font-family: "Roboto";
}

.open-sans {
  font-family: "Open Sans";
}

.montserrat {
  font-family: "Montserrat";
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 100%;
}

.title-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.title-page-description {
  color: grey;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 200;
  padding-top: 10px;
}

.underline-animation {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    max-width: 130px;
    transform: scaleX(0);
    border-radius: 5px;
    height: 0.05em;
    bottom: 0;
    left: 0;
    background: currentcolor;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  &:hover::after {
    background: currentcolor;
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}


.antd-input-style{
  width: 100%;
  padding: 6px 10px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.16);
  border-radius: 5px;
  transition: 0.2s;
  outline: 3px solid rgba(255, 0, 0, 0);

  &:hover,
  &:focus {
    border-color: red;
  }

  &:focus {
    outline-color: rgba(255, 0, 0, 0.05);
  }
}

