.list {
  border: 1px solid rgb(0, 0, 0, 0.15);
  overflow-y: scroll;
  min-width: 350px;
  height: 100%;
  @media (max-width: 700px) {
    min-width: 300px;
  }

  @media (max-width: 600px) {
    min-width: unset;
  }
}

.card {
  display: flex;
  background-color: white;
  align-items: center;
  padding: 24px;
  justify-content: space-between;
  gap: 5px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.15);
  border-left: 1px solid  rgba(255, 0, 0, 0);
  transition: .2s;width: 100%;
  &:focus,&:hover {
    background-color: #fff2ee;
    border-left: 1px solid red;
  }
  img {
    // width: 30%;
    aspect-ratio: 1/1;
    object-fit: contain;
    mix-blend-mode: darken;
    height: 50px;
    max-width: 30%;
  }
  div {
    margin: 0 auto 0 7%;
text-align: left;
max-width: 150px;
   }
  h2 {
    color: #000;
    font-size: 13px;
    font-weight: 500;
    line-height: 21px;
  }
  p {
    color: #a4a4a4;
    font-size: 10px;
  }
}
