.container > div {
  padding: 100px 5%;
  display: flex;
  justify-content: space-between;
  gap: 5%;
 
  @media (max-width:900px) {
      gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.card {
  width: 100%;
  background-color: white;
  display: flex;
  gap: 20px;
  align-items: center;
  border-radius: 5px;
  padding: 20px;
  max-width: 230px;

  .icon {
    aspect-ratio: 1/1;
    border-radius: 5px;
    color: var(--red-color);
    background-color: var(--light-red-color);
    padding: 12px;
    svg {
      font-size: 26px;
    }
  }
  h1 {
    color: #18191c;
    font-size: 24px;
    font-weight: 400;
  }
  p {
    color: #767f8c;
    font-size: 15px;
  }

}
