.avatar {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  max-width: 200px;
  margin: 0 auto;
  border-radius: 400px;
  overflow: hidden;
  grid-row: 1/3;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .icon {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0.6979166666666667) 10%,
      rgba(0, 212, 255, 0) 100%
    );
    padding: 10px 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    translate: 0 100%;
    transition: 0.3s;
    svg {
      font-size: 30px;
      color: rgba(255, 255, 255, 0.8);
    }
  }
  input {
    display: none !important;
  }
  &:hover .icon {
    translate: 0;
  }
}
