.switcher {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  border-radius: 100px;
  padding: 5px;
  padding-right: 10px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2) inset;
  
@media (max-width:450px) {  padding-right: 5px;

  p{
    display: none;
  }
}
}

