.about {
  padding: 80px 5%;
  background: linear-gradient(45deg, #fff6f3 0%, rgba(255, 246, 243, 0) 100%);

  & > div {
    display: flex;
    gap: 5%;
    row-gap: 50px;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 800px) {
      flex-direction: column;
      img,
      .text {
        width: 100%;
      }
    
    }
    @media (max-width: 500px) {
 
      .text h2 {
        font-size: 16px;
      }
      .text p {
        font-size: 12px;
      }
    }
     
  }

  .text {
    width: 50%;
    h2 {
      margin: 26px 0 12px;
      max-width: 500px;
      color: #666;
      font-size: 20px;
      font-weight: 600;
      line-height: 160%;
    }
    p {
      color: #666;
      font-size: 16px;
      font-weight: 300;
      line-height: 180%;
      max-width: 600px;
    }
  }
  img {
    width: 50%;
    max-height: 500px;
    object-fit: cover;
  }
}
