.container {
  margin-top: 100px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  overflow: hidden;
}
.card {
  display: flex;
  padding: 3%;
  align-items: center;
  gap: 5%;
  transition: 300ms;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  img {
    aspect-ratio: 1/1;
    max-width: 100px;
    width: 30%;
    object-fit: contain;
  }
  h1 {
    color: #18191c;
    font-size: 17px;
    font-weight: 400;
    line-height: 160%;
    padding-bottom: 10px;
  }
  a {
    color: #767f8c;
    font-size: 13px;
    font-weight: 400;
    line-height: 160%;
  }
  &.new,
  &:hover {
    background-color: var(--light-red-color);
    img {
      mix-blend-mode: darken;
    }
  }
  @media (max-width: 600px) {
    padding: 20px 15px;
    h1 {
      font-size: 14px;
      padding-bottom: 5px;
    }
    a {
      font-size: 12px;
    }
  }
  @media (max-width: 450px) {
    img {
      width: 20%;
    }
    div {
      width: 80%;
    }
    h1 {
      font-size: 12px;
    }
    a {
      font-size: 10px;
    }
  }
}
