.container {
  background-color: rgb(255, 255, 255);
  margin-top: 30px;
  padding: 30px 20px 0;
  border-radius: 20px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  // display: grid;
  // grid-template-columns: repeat(3,1fr);

  .buttons {
    display: flex;
    justify-content: flex-end;
    button {
      margin-left: 10px;
    }
  }
}

.phonepage {
  display: flex;
  background-color: white;
  gap: 10px;
  padding: 30px;
  align-items: flex-end;
  div {
    width: 100%;
  }

  p {
    color: var(--grey-color);
    font-size: 13px;
    padding-bottom: 6px;
  }
}
.p {
  cursor: pointer;
  color: rgba(39, 118, 255, 0.979);
  font-size: 14px;
  margin: 30px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
