.table-component {
  margin: 50px 0 100px;
  .title-component {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  //   .ant-select.ant-select-single.ant-select-show-arrow .ant-select-selector:hover,
  //   .ant-select.ant-select-single.ant-select-show-arrow .ant-select-selector:focus {
  //     border: 1px solid var(--red-color);
  //   }

  .job {
    display: flex;
    align-items: center;
    gap: 20px;
    img {
      width: 100px;
      aspect-ratio: 1/1;
      object-fit: contain;
    }
    h3 {
      color: #2f2e41;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      max-width: 140px;
    }
    p {
      color: #6c757d;
      font-size: 14px;
      font-style: normal;
      line-height: 133%;
    }
  }
  .rejected{
    color: var(--red-color);
    font-size: 15px; font-weight: 600;
  }
  .process{
    color: #FFC200;
    font-size: 15px; font-weight: 600;
  }
  .passed{
    color: var(--green-color);
    font-size: 15px; font-weight: 600;
  }
  .statusBtn{
    background-color: red;
  }
}
