.breadCrump {
   
  color: var(--grey-color);
  height: 70px;
  div {
    align-items: center;
    height: 100%;
    display: flex;
    gap: 10px;
  }
  a:last-child {
    color: var(--dark-grey-color);
  }
  
}
