.container {
  --gap: 100px;
  padding: var(--gap) 0;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  @media (max-width: 500px) {
    --gap: 50px;
  }
}
.flex {
  display: flex;
  gap: 5%;
  row-gap: var(--gap);
  justify-content: space-between;
  & > div {
    width: 100%;
  }
  @media (max-width: 1050px) {
    flex-direction: column;
  }
}
.skills {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  p {
    background-color: rgba(0, 0, 0, 0.089);
    padding: 5px 15px;
    border-radius: 5px;
  }
}
