.overview {
  .top-info-overview {
    padding: 25px 0 25px;
    h2 {
      color: #2f2e41;
      font-size: 20px;
      font-weight: 400;
      line-height: 24px;
    }
    p {
      color: #737373;
      font-size: 12px;
      font-weight: 400;
      line-height: 21px;
    }
  }

  
}
