.layout {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  min-height: 100vh;
  padding-top: var(--padding-top);
  footer {
    margin-top: auto;
  }
}

.sidebar {
  display: flex;
  position: relative;
  .content {
    padding-right: calc(45vw - 720px);
     width: 100%;
    min-height: calc(100vh - 70px);
    // overflow: hidden;
    display: flex;
    flex-direction: column;
    & > div:last-child {
      height: 100%;
      display: flex;
      flex-direction: column;
      min-width: 200px;
      padding: 0 0 0 calc(45% - 720px);
      margin: 0 5vw;
    }
  }
}
